<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.weiwei.hy</key>
		<string>hy_adhoc_new_device</string>
	</dict>
	<key>teamID</key>
	<string>HDL3K2T9R8</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
